<footer style=" margin-top:200px;background-color:gray;" id="footer" class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
    <ul class="foot-color">
      <li><a style="color:yellow" href="https://github.com/twbs/bootstrap">GitHub</a></li> <br>
      <li><a style="color:yellow" href="https://twitter.com/getbootstrap">Telegram</a></li>
    </ul>
    <p style="color:yellow;    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align:center;
    font-size:30px;" class="designed">Designed By The Massa Community</p>
  </div>
</footer>