<!DOCTYPE html>
<html lang="en">
    {% block content %} {% include "headers.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<div class="contain mt-5">
    <h1>
        Welcome {{username}}</h1>
</div>

<div class="sup ">
    <h2>
        Support The Journey By Completing Tasks And Maybe Earn Some Rewards In the Process
    </h2>
</div>
<div class="image">
    <img src="/static/images/block.svg">

</div>
<div id="tasks" >
    <a href="/tasks" >
            <button id="but" class="btn btn-primary btn-lg" > All Tasks</button>
    </a>
    <a href="/add">
            <button type="button" class="btn btn-primary btn-lg" > Add Task </button>
    </a>


</div>

{{ bootstrap.load_js() }}
{% include "footer.html" %} {% endblock %}
</body>
</html>